.draggable {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.controlPanel {
    width: 250px;
    padding: 15px;
    display: flex;
    flex-flow: column;
}

.header {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.draggableWindow {
    border: 10px solid black;
    display: flex;
    flex: 1;
    position: relative;
}

.dragItem {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: -webkit-grab;
    position: absolute;
}